@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1A1B1C;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-dotted-border-inner {
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,0.4) 2px,
    transparent 1px
  );
  background-size: 8px 2px;
  background-repeat: repeat-x;
  height: 2px;
}

.custom-dotted-border-middle {
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,0.3) 2px,
    transparent 2px
  );
  background-size: 8px 1px;
  background-repeat: repeat-x;
  height: 2px;
}

.custom-dotted-border-outer {
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,0.15) 2px,
    transparent 2px
  );
  background-size: 8px 1px;
  background-repeat: repeat-x;
  height: 2px;
}

.custom-line {
  background-color: rgba(0,0,0,1);
  height: 0.5px;
}

.custom-line::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 5px;
  height:5px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  background-clip: padding-box;
}